body {
  background-color: #F7F1E0;
}

header {
  height: 60px;
  background-color: #2C1901;
  border-bottom: 1px solid black;
}

.header-image {
  background-color: white;
  margin-top: 12px;
}

.search-bar {
  margin-top: 10px;
  padding: 7px;
  float: right;
  width: 200px;
  border-radius: 5px;
  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right center;
  padding-right: 25px;
}

.header-image:hover {
  background-color: black;
}

.header-content {
  width: 90%;
  margin: 0 auto;
}

.user-button {
  margin: 0px 10px 12px;
  float: right;
  width: 45px;
  height: 65px;
}

.user-button > img {
  border-radius: 25px;
  float: right;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.user-button:hover > .user-dropdown{
  display: block;
}

.user-dropdown{
  position:absolute;
  top: 61px;
  width: 200px;
  display: none;
  background-color: #4C2A1E;
  cursor: pointer;
  padding: 0;
}

.user-dropdown:hover {
  display: block;
}

.user-dropdown > li {
  padding: 12px;
  font-size: 15px;
  color: #F7F1E0;
  border-top: .5px solid #67432D;
}

.user-dropdown > li:hover {
  background-color: #2C1901;
}
