body {
  background-color: #F7F1E0;
}

header {
  height: 60px;
  background-color: #2C1901;
  border-bottom: 1px solid black;
}

.header-content {
  max-width: 1048px;
  width: 97%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header-containers {
  display: flex;
  align-content: center;
}

.nav-links {
  padding: 0;
  margin: 0 10px;
  align-self: center;
}

.nav-links > li {
  color: #F7F1E0;
  display: inline;
  margin: 0 10px;
  font-size: 18px;
}

.header-image {
  background-color: white;
  vertical-align: middle;
  margin-right: 10px;
}

.search-bar {
  padding: 7px;
  float: right;
  width: 200px;
  border-radius: 5px;
  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right center;
  padding-right: 25px;
  align-self: center;
}

.header-image:hover {
  background-color: black;
}

.user-button {
  width: 45px;
  height: 61px;
  display: inline-flex;
  align-items: center;
  margin-right: 7px;
}

.user-button > img {
  border-radius: 25px;
  width: 40px;
  height: 40px;
}

.user-button:hover > .user-dropdown{
  display: block;
}

.user-dropdown{
  position:absolute;
  top: 61px;
  width: 200px;
  display: none;
  background-color: #4C2A1E;
  cursor: pointer;
  padding: 0;
}

.user-dropdown:hover {
  display: block;
}

.user-dropdown > li {
  padding: 12px;
  font-size: 15px;
  color: #F7F1E0;
  border-top: .5px solid #67432D;
}

.user-dropdown > li:hover {
  background-color: #2C1901;
}

.footer-content {
  max-width: 400px;
  width: 97%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5%;
}

.footer-content > a {
  font-size: 15px;
  color: #67432D;
}
