.rating-index {
  max-width: 1048px;
  width: 97%;
  margin: 0 auto;
}

.user-pic {
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

.rating-index-item {
  background-color: white;
  width: 60%;
  margin: 15px 0;
  padding: 20px;
  display: flex;
  -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
}

.rating-index-info {
  margin-left: 15px;
  width: 90%
}

.rating-index-info > span {
  font-size: 20px;
}

.rating-link {
  color: #67432D;
  font-weight: 600;
}

.rating-link:hover {
  color: #ff9933;
  cursor: pointer;
}

.rating-details {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-top: 15px;
  position: relative;
}

.drink-index-description {
  font-size: 20px;
  margin-bottom: 10px;
}

.rating-details::before {
  bottom: 100%;
  left: 24px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(248, 248, 248, 0);
  border-bottom-color: #eee;
  border-width: 14px;
  margin-left: -14px;
}

.rating-details::after {
  bottom: 100%;
  left: 24px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 12px;
  margin-left: -12px;
}

form .beans-rating {
  background: url("http://res.cloudinary.com/dfmvfna21/image/upload/v1478303861/bean-sprite_lvuxjl.png") repeat-x 0 0;
  width: 150px;
  margin: 0;
}

form .beans-rating input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .beans-rating input[type="radio"].bean-5:checked ~ span {
  width: 100%;
}
form .beans-rating input[type="radio"].bean-4:checked ~ span {
  width: 80%;
}
form .beans-rating input[type="radio"].bean-3:checked ~ span {
  width: 60%;
}
form .beans-rating input[type="radio"].bean-2:checked ~ span {
  width: 40%;
}
form .beans-rating input[type="radio"].bean-1:checked ~ span {
  width: 20%;
}
form .beans-rating label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
}

form .beans-rating span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("http://res.cloudinary.com/dfmvfna21/image/upload/v1478303861/bean-sprite_lvuxjl.png") repeat-x 0 -40px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}

.rating-index-info > img {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}
