.sidebar-stats {
  background-color: white;
  width: 25%;
  padding: 20px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  float: right;
}

.sidebar-image {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.sidebar-user {
  display: flex;
  margin-bottom: 10px;
}

.sidebar-username {
  padding-left: 10px;
  font-size: 30px;
  font-weight: lighter;
  -webkit-margin-before: -10px;
}

.sidebar-user-stats {
  display: flex;
}

.user-stat {
  width: 45%;
  background-color: #F6F6F6;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5px;
}

.user-stat > p {
  margin: 0 auto;
}
